
body, html {
position: absolute;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden;
touch-action: none;
-ms-content-zooming: none;
background:url('p1.jpg');
background-size: cover;
}

canvas {
position: absolute;
width: 100%;
height: 100%;
user-select: none;

}
